(Extra) Criando Series

In [1]:
#Importando biblioteca Pandas
import pandas as pd

In [2]:
#cirando um pequeno data 
data = [1, 2, 3, 4, 5]

In [3]:
#transformando o data em series
s = pd.Series(data)

In [9]:
#Imprimindo Data series
print(s)

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [5]:
#criando um index
index = ['Linha' + str(i) for i in range(5)]

In [6]:
print(index)

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [8]:
s=pd.Series(data=data,index=index)

In [10]:
print(s)

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

Criando DataFrame

In [29]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [30]:
df1 = pd.DataFrame(data = data)

In [31]:
#criando um index para meu data frame
indice = ['Linha' + str(i) for i in range(3)]

In [32]:
#adicionando o indice ao dataFrame
df1 = pd.DataFrame(data = data, index = indice)

In [33]:
df1.head()

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [34]:
#criando um rotulo para colunas
colunas=['Coluna'+str(i) for i in range(3)]

In [37]:
print(colunas)

['Coluna0', 'Coluna1', 'Coluna2']

In [39]:
#adicionando o rotulo na coluna do dataFrame
df2 = pd.DataFrame(data = data, index = indice, columns = colunas)

In [41]:
df2.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9