#Relatorio de Analise I

In [1]:
#importando a biblioteca
import pandas as pd

In [2]:
#criando um dataframe dos arquivo csv.
dados=pd.read_csv("/Users/carolinavega/Documents/Alura/padasDA/aluguel.csv", sep=';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
dados.shape

(32960, 9)

In [5]:
print("A BASE DE DADOS APRESNETA {} REGISTRO DE IMOVEIS E {} VARIAVEIS".format(dados.shape[0], dados.shape[1]))

A BASE DE DADOS APRESNETA 32960 REGISTRO DE IMOVEIS E 9 VARIAVEIS

Relatorio de Analise

Tipos de Imoveis

In [7]:
#Identificar todos os tipos de imoveis
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [19]:
#criando uma serie com todos os tipo
tipo_de_imovel=dados['Tipo']

In [24]:
tipo_de_imovel.head(100)

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [23]:
#Retirando Duplicados, usando inplace como True para que ele modificque a variavel na execucao e o keep indicando para ele manter o primeiro
tipo_de_imovel.drop_duplicates(keep='first', inplace=True)

In [25]:
#Organizando a Visualização
#Colocando a serie em um Data Frame
tipo_de_imovel=pd.DataFrame(tipo_de_imovel)

In [27]:
tipo_de_imovel.head(10)

                       Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
7        Casa de Condomínio
16           Prédio Inteiro
17                     Flat
29               Loja/Salão
80  Galpão/Depósito/Armazém
83           Casa Comercial

In [29]:
#verificando o tamanho do nosso df
tipo_de_imovel.shape[0]

22

In [30]:
#Sabendo que o dataframe tem 22 passamos esse dado para o range e adicionamos um novo index
tipo_de_imovel.index=range(tipo_de_imovel.shape[0])

In [33]:
tipo_de_imovel.head(10)

Id                     Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
4        Casa de Condomínio
5            Prédio Inteiro
6                      Flat
7                Loja/Salão
8   Galpão/Depósito/Armazém
9            Casa Comercial

In [32]:
#adicionando o nome da coluna de index como ID
tipo_de_imovel.columns.name="Id"